/**
 * Libs
 */

@import "./libs/normalize.css";
@import "./libs/milligram.css";
@import "./libs/fontawesome.css";

/**
 * Classes
 */

@import "./classes/tabs.css";
@import "./classes/blur.css";
@import "./classes/close.css";
@import "./classes/slide.css";
@import "./classes/popout.css";
@import "./classes/disabled.css";
@import "./classes/collapsible.css";
@import "./classes/button-go.css";
@import "./classes/button-float.css";

/**
 * Fonts
 */

@font-face {
    font-family: 'BoldFont';
    src: url('../assets/fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'LightFont';
    src: url('../assets/fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'TitleFont';
    font-style: italic;
    font-weight: 900;
    src:
        local('Poppins Black Italic'),
        local('Poppins-BlackItalic'),
        url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm81xVFteOcEg.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/**
 * Core CSS
 */

body {
    height: 100%;
    margin: 0;
}

view {
    width: 100%;
    height: 100%;
    background-color: #242424;
}

/* The two main views */

#start {
    position: relative;
    display: block;
}

#main {
    display: none;
}

/**
 * View: Start 
 * [Elements CSS]
 */

/* Core Elements */

#banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#banner > h1 {
    font-family: 'TitleFont', sans-serif;
    font-size: 6.25vw;
    text-shadow: 5px 5px 80px #4b4a4a, 1px 5px 100px rgb(5, 5, 5);
    color: white;
    margin-bottom: 0%;
}

#banner > #links {
    padding-bottom: 15vh;
}

#banner > #links a {
    font-family: 'TitleFont', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    padding-left: .5vw;
    padding-right: .5vw;

}

#banner > #links a:hover {
    cursor: pointer;
    text-shadow: 1px 1px 25px #e4e4e4;
}

/* Extra Elements */

#settings {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 28%;
    top: 10%;
    width: 44%;
    height: 80%;
    padding: 3%;
    font-size: .8vw;
    background-color: white;
}

#settings > h2 {
    font-size: 1.6vw;
}

#settings > span {
    font-size: 2vw;
}

#top-settings {
    width: 100%;
}

#panels-settings {
    overflow: auto;
    width: 100%;
    height: 72%;
}

#bottom-settings {
    width: 100%;
    margin-top: 10px
}

#save-settings {
    width: 100%;
    margin-bottom: 10px;
}

/**
 * View: Main 
 * [Elements CSS]
 */

/* Core Elements */

#canvas {
    height: 100%;
    width: 100%;
}

#tools {
    display: none;
    flex-direction: column;
    width: 60%;
    height: 55%;
    left: 21%;
}

/* Tabbings for the "Tools" menu */

#tools ul span {
    font-family: 'BoldFont', sans-serif;
}

#loader > .control > button {
    width: 100%;
}

#logger > .content > #log-area {
    width: 100%;
    height: 90%;
    border-style: groove;
    border-width: 0.1vw;
}

#logger > .control > button {
    float: left;
    width: 50%;
    border-radius: 0%;
    border-style: groove;
    border-width: 0.1vw;
    border-color: #2d0233;
}

#designer > .control > button {
    width: 100%;
}

#storage > .content > table {
    width: 100%;
}

#storage > .content > table th {
    text-align: center;
    font-size: 0.8vw;
}

#storage > .content > table td {
    text-align: center;
    font-size: 0.8vw;
}

#storage > .control > button {
    float: left;
    width: 33.3%;
    border-radius: 0%;
    border-style: groove;
    border-width: 0.1vw;
    border-color: #2d0233;
}

#acceptor > .control > button {
    width: 100%;
    border-radius: 0%;
    border-style: groove;
    border-width: 0.1vw;
    border-color: #2d0233;
}

#acceptor > .content > textarea {
    height: 20%;
    width: 100%;
}

/* Draggable Open Tools Button */

#open-tools-draggable {
    position: absolute;
    left: 87%;
}

#open-tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quick Builder */

#quick-builder {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 1px 1px 10px grey;
    width: 150px;
}

#quick-builder > h5 {
    font-family: 'BoldFont', sans-serif;
    text-align: center;
    border-bottom: 2px solid #8a8a8a;
    padding: 0%;
    margin: 0%;
}

#quick-builder > a {
    font-family: 'TitleFont', sans-serif;
    float: left;
    width: 100%;
    height: 26%;
    padding-left: 5%;
    padding-top: 1%;
}

#quick-builder > a:not(:last-child) {
    border-bottom: .5px solid #dadada;
}

#quick-builder > a:hover {
    cursor: pointer;
}