.button-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.arrow-effect {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'BoldFont', sans-serif;
    font-size: .9vw;
    position: relative;
    padding: 1vh 1.5vw 1vh 1vw;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
}

.arrow-effect .bg {
    background: #dc82ff;
    width: 1.1vw;
    height: .3vh;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.arrow-effect:hover {
    padding-right: 1vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.arrow-effect:hover .bg {
    height: 100%;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.arrow-effect .bg:before,
.arrow-effect .bg:after {
    content: '';
    height: .27vh;
    width: .5vw;
    background:#dc82ff;
    position: absolute;
    right: -.07vw;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.arrow-effect .bg:before {
    bottom: .15vw;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow-effect .bg:after {
    top: .27vh;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrow-effect:hover .bg:before,
.arrow-effect:hover .bg:after {
    right: 0;
}

.arrow-effect:hover .bg:before {
    bottom: 2vw;
}

.arrow-effect:hover .bg:after {
    top: 3vh;
}